*.FASL
*.fasl
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl
.vscode/alive/fasl/tmp.lisp
.vscode/alive/repl-history.json
# ci/quicklisp.lisp is downloaded from a server while running 0-init.sh
ci/quicklisp.lisp
